<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% load pwa %}
    {% progressive_web_app_meta %}
    
    <!-- link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/estilos_romeo.css' %}" type="text/css" rel="stylesheet" -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/estilo.css' %}" type="text/css" rel="stylesheet">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <!--script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script-->
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>


    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyA5cv5jrW8Cu8HToqhNm7rB3nWguZ3i_Jc",
            authDomain: "floreriauwu.firebaseapp.com",
            databaseURL: "https://floreriauwu.firebaseio.com",
            projectId: "floreriauwu",
            storageBucket: "floreriauwu.appspot.com",
            messagingSenderId: "1004657333762",
            appId: "1:1004657333762:web:9ba7dbb5f692e5f109b91b",
            measurementId: "G-13YHF7VVBD"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        let messaging = firebase.messaging();

        //primero se enlaca el serviceWorker
        navegator.serviceWorker
        .register('./serviceworker.js')
        .then(function(register){

            messaging.useServiceWorker(register);

            //solicitamos el permiso para recivir notificaciones al usuario
            messaging.requestPermission()
            .then(function(){
                console.log("El usuario ha aceptado recibir notificaciones")

                return messaging.getToken();
            })
            .then(function(token){
                console.log(token);
                //enviar el token hacia Django para guardarla en la base de datos
                fetch('guardar-token/',{
                    method:'post',
                    header:{
                        'content-type':'application/json',
                        'Accept':'aplication/json'
                    },
                    body:JSON.stringify({
                        'token':token
                    })
                })
                .then(function(resultado){
                    console.log("se ha guardado el token")
                })
                .catch(function(e){
                    console.log("no se ha podido guardar el token")
                })
            })
            .catch(function(e){
                console.log("El usuario no ha aceptado recibir notificaciones")
            })

        })

        //programamos la recepcion de las notificaciones push

        messaging.onMessage(function(payload){

            let data = payload;
            console.log(data);

            let title = payload.Notification.title;

            let options = {
                body:payload.navigation.body,
                icon:payload.navigation.icon
            }

            let mensaje = new Notificacion(title, options);

        });

        firebase.analytics();
        

    </script>

    <title>
    {% block titulo %}
    
    {% endblock titulo %}
    </title>
    
    
</head>

<body>
    <header>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
            <!-- comentario OL (lista ordenada) UL (lista sin orden) LI (indice de lista) -->
            <div>

                <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #C2185B;">
                <a class="navbar-brand" style="color: #FFFFFF">Petalos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'IND' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'GAL' %}">Galería <span class="sr-only">(current)</span></a>
                            </li>
                            {% endif %}
                            {% if is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'FORMU' %}">Formulario <span class="sr-only">(current)</span></a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'QUIEN' %}">Quienes somos <span class="sr-only">(current)</span></a>
                            </li>
                            {% if user.is_anonymous %}
                            </ul>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Limpiar Carrito <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ver Carrito <span class="sr-only">(current)</span></a>
                            </li>
                            <!--li>
                                <b>Bienvenido {{ user.username }}</b>
                            </li-->
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'CERRARSESION' %}">Cerrar sesión <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </form>
                        {% endif %}
                        {% if user.is_anonymous %}
                            <form class="form-inline my-2 my-lg-0">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'LOGINACCESO' %}">Iniciar Sesión <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'registro_usuario' %}"> Registrar <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </form>
                        {% endif %}
                    </div>
                </nav>
            </div>
    </header>
    <section>
        {% block contenido %}
       
        {% endblock contenido %}
    </section>

    <div>
        <footer class="page-footer font-small blue pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-3 mt-md-0 mt-3">
                        <h5 class="text-uppercase">Footer Content</h5>
                        <p>Here you can use rows and columns to organize your footer content.</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Nuestra Empresa</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'QUIEN' %}">Quienes Somos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Petalos</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="proximamente.php">Boleta Electronica</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Productos</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'FORMU' %}">Formulario</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
        </footer>
    </div>

    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script-->
</body>

</html>