{% extends "core/base.html" %}

{% block titulo %}
    Galeria de Flores - Floreria UwU
{% endblock titulo %}

{% load static %}    

{% block contenido %}
 <!-- sector del menu -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Galeria de Flores</h1>
        </div>
    </div>
    
        {% for p in lista %}

       
         <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    
                        <div class="card" >
                           <img src="{{p.imagen.url}}"  class="card-img-top"  alt="..." >
                        {% if p.estado == True %}
                            <h4> Disponible </h4>
                        {% else %}
                            <h4> No Disponible </h4>
                        {% endif %}
                        <div class="card-body" style="background-color: rgb(240, 240, 240)">
                            <h5 class="card-title">{{p.name}}</h5>
                            <p class="card-text">{{p.descripcion}}</p>
                            <h5 class="card-title">${{p.precio}}</h6>
                            <a href="{% url 'ELIMINA' p.name %}" class="btn btn-primary">Eliminar</a>
                            <a href="{% url 'AGREGAR_CARRO' p.name %}" class="btn btn-secondary">Agregar a carrito</a>
                           </div>
                        </div>
                    
                </div>
            </div>
         </div> 
         
        {% endfor %}
  



{% endblock contenido %}
       