{% extends "core/base.html" %}
{% block titulo %}
    Registro de Flores
{% endblock titulo %}
{% load static %}
{% block contenido %}
    <div src="{% static 'img/floreria-hombre.JPG' %}">
        <h2>Quienes Somos</h2>
        <center>
            <img src="{% static 'img/floreria-hombre.JPG' %}" Style="width: 500px">
        </center>
        <p> 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, ullam dolorem. Quia nemo explicabo, eaque distinctio
        maxime ullam eos voluptatibus quae beatae in voluptatum delectus nobis dolorum a architecto quam!
        </p>
    </div>
{% endblock contenido %}